@page

@{
    ViewData["Title"] = "Weapons";
}

<h1 class="d-flex justify-content-center">@ViewData["Title"]</h1>

<div>
    <section class=" text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <p class="lead text-body-secondary">Something short and leading about the collection below—its
                    contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply
                    skip over it entirely.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Main call to action</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p>
            </div>
        </div>
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="50%" height="0"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <img width="100%" height="226rem"
                                src="https://imgs.search.brave.com/uIRCtNO4fYwnK80ZaiM_ScraaFrGdMHwJr09P4ZT5mE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG5i/LjIwbS5lcy9zaXRl/cy83Ni8yMDIxLzA4/L0RlLWQlQzMlQjNu/ZGUtc3VyZ2UtbGEt/ZXhwcmVzaSVDMyVC/M24tJUUyJTgwJTk4/RW50ZXJyYXItZWwt/aGFjaGEtZGUtZ3Vl/cnJhJUUyJTgwJTk5/LmpwZw"
                                alt="hacha" />
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-body-secondary">$Price</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="50%" height="0"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <img width="100%" height="226rem"
                                src="https://imgs.search.brave.com/uIRCtNO4fYwnK80ZaiM_ScraaFrGdMHwJr09P4ZT5mE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG5i/LjIwbS5lcy9zaXRl/cy83Ni8yMDIxLzA4/L0RlLWQlQzMlQjNu/ZGUtc3VyZ2UtbGEt/ZXhwcmVzaSVDMyVC/M24tJUUyJTgwJTk4/RW50ZXJyYXItZWwt/aGFjaGEtZGUtZ3Vl/cnJhJUUyJTgwJTk5/LmpwZw"
                                alt="hacha" />
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-body-secondary">$Price</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="50%" height="0"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <img width="100%" height="226rem"
                                src="https://imgs.search.brave.com/uIRCtNO4fYwnK80ZaiM_ScraaFrGdMHwJr09P4ZT5mE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG5i/LjIwbS5lcy9zaXRl/cy83Ni8yMDIxLzA4/L0RlLWQlQzMlQjNu/ZGUtc3VyZ2UtbGEt/ZXhwcmVzaSVDMyVC/M24tJUUyJTgwJTk4/RW50ZXJyYXItZWwt/aGFjaGEtZGUtZ3Vl/cnJhJUUyJTgwJTk5/LmpwZw"
                                alt="hacha" />
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-body-secondary">$Price</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="50%" height="0"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <img width="100%" height="226rem"
                                src="https://imgs.search.brave.com/uIRCtNO4fYwnK80ZaiM_ScraaFrGdMHwJr09P4ZT5mE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG5i/LjIwbS5lcy9zaXRl/cy83Ni8yMDIxLzA4/L0RlLWQlQzMlQjNu/ZGUtc3VyZ2UtbGEt/ZXhwcmVzaSVDMyVC/M24tJUUyJTgwJTk4/RW50ZXJyYXItZWwt/aGFjaGEtZGUtZ3Vl/cnJhJUUyJTgwJTk5/LmpwZw"
                                alt="hacha" />
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-body-secondary">$Price</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="50%" height="0"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <img width="100%" height="226rem"
                                src="https://imgs.search.brave.com/uIRCtNO4fYwnK80ZaiM_ScraaFrGdMHwJr09P4ZT5mE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG5i/LjIwbS5lcy9zaXRl/cy83Ni8yMDIxLzA4/L0RlLWQlQzMlQjNu/ZGUtc3VyZ2UtbGEt/ZXhwcmVzaSVDMyVC/M24tJUUyJTgwJTk4/RW50ZXJyYXItZWwt/aGFjaGEtZGUtZ3Vl/cnJhJUUyJTgwJTk5/LmpwZw"
                                alt="hacha" />
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-body-secondary">$Price</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="50%" height="0"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <img width="100%" height="226rem"
                                src="https://imgs.search.brave.com/uIRCtNO4fYwnK80ZaiM_ScraaFrGdMHwJr09P4ZT5mE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG5i/LjIwbS5lcy9zaXRl/cy83Ni8yMDIxLzA4/L0RlLWQlQzMlQjNu/ZGUtc3VyZ2UtbGEt/ZXhwcmVzaSVDMyVC/M24tJUUyJTgwJTk4/RW50ZXJyYXItZWwt/aGFjaGEtZGUtZ3Vl/cnJhJUUyJTgwJTk5/LmpwZw"
                                alt="hacha" />
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-body-secondary">$Price</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="50%" height="0"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <img width="100%" height="226rem"
                                src="https://imgs.search.brave.com/uIRCtNO4fYwnK80ZaiM_ScraaFrGdMHwJr09P4ZT5mE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG5i/LjIwbS5lcy9zaXRl/cy83Ni8yMDIxLzA4/L0RlLWQlQzMlQjNu/ZGUtc3VyZ2UtbGEt/ZXhwcmVzaSVDMyVC/M24tJUUyJTgwJTk4/RW50ZXJyYXItZWwt/aGFjaGEtZGUtZ3Vl/cnJhJUUyJTgwJTk5/LmpwZw"
                                alt="hacha" />
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-body-secondary">$Price</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="50%" height="0"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <img width="100%" height="226rem"
                                src="https://imgs.search.brave.com/uIRCtNO4fYwnK80ZaiM_ScraaFrGdMHwJr09P4ZT5mE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG5i/LjIwbS5lcy9zaXRl/cy83Ni8yMDIxLzA4/L0RlLWQlQzMlQjNu/ZGUtc3VyZ2UtbGEt/ZXhwcmVzaSVDMyVC/M24tJUUyJTgwJTk4/RW50ZXJyYXItZWwt/aGFjaGEtZGUtZ3Vl/cnJhJUUyJTgwJTk5/LmpwZw"
                                alt="hacha" />
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-body-secondary">$Price</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="50%" height="0"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <img width="100%" height="226rem"
                                src="https://imgs.search.brave.com/uIRCtNO4fYwnK80ZaiM_ScraaFrGdMHwJr09P4ZT5mE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG5i/LjIwbS5lcy9zaXRl/cy83Ni8yMDIxLzA4/L0RlLWQlQzMlQjNu/ZGUtc3VyZ2UtbGEt/ZXhwcmVzaSVDMyVC/M24tJUUyJTgwJTk4/RW50ZXJyYXItZWwt/aGFjaGEtZGUtZ3Vl/cnJhJUUyJTgwJTk5/LmpwZw"
                                alt="hacha" />
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-body-secondary">$Price</small>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
</div>